Node-RED/Node-RED flows.json
[{"id":"edcc44b2.3b3788","type":"tab","label":"monit","disabled":false,"info":""},{"id":"29fe42ec.d894ee","type":"mqtt in","z":"edcc44b2.3b3788","name":"jsontopic","topic":"jsontopic","qos":"0","datatype":"json","broker":"ff1a926c.d44428","x":120,"y":200,"wires":[["cb7a6f5.68fb81","d6a24835.0a567","b9b97540.7a0c48"]]},{"id":"cb7a6f5.68fb81","type":"function","z":"edcc44b2.3b3788","name":"slave","func":"light = { payload: msg.payload.light };\n\nreturn [light];","outputs":1,"noerr":0,"x":410,"y":120,"wires":[["67defbcd.90e524"]]},{"id":"a2d6bca5.0caaf","type":"ui_gauge","z":"edcc44b2.3b3788","name":"WiFi-RSSI","group":"d7168e93.91a0e","order":1,"width":0,"height":0,"gtype":"gage","title":"WiFi RSSI","label":"dBm","format":"{{value}}","min":"-100","max":"0","colors":["#d60505","#e6e600","#08dd21"],"seg1":"","seg2":"","x":590,"y":280,"wires":[]},{"id":"d6a24835.0a567","type":"function","z":"edcc44b2.3b3788","name":"master","func":"ssid = { payload: msg.payload.ssid };\nwifirssi = { payload: msg.payload.wifirssi };\ntemp = { payload: msg.payload.temp };\nhumid = { payload: msg.payload.humid };\ntilt = { payload: msg.payload.tilt };\nreturn [ssid, wifirssi, temp, humid, tilt];","outputs":5,"noerr":0,"x":350,"y":320,"wires":[[],["a2d6bca5.0caaf","1558f4a.bb2f58b"],["22af555b.95460a"],["5722a3f5.57b13c"],[]]},{"id":"1558f4a.bb2f58b","type":"ui_chart","z":"edcc44b2.3b3788","name":"rssi_chart","group":"d7168e93.91a0e","order":2,"width":6,"height":4,"label":"RSSI chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"No data available","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#74afdc","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":580,"y":320,"wires":[[]]},{"id":"22af555b.95460a","type":"ui_gauge","z":"edcc44b2.3b3788","name":"Temperature","group":"6b6c0eae.c508b8","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":"-10","max":"40","colors":["#d60505","#e6e600","#08dd21"],"seg1":"","seg2":"","x":590,"y":360,"wires":[]},{"id":"5722a3f5.57b13c","type":"ui_gauge","z":"edcc44b2.3b3788","name":"Humidity","group":"6b6c0eae.c508b8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#d60505","#e6e600","#08dd21"],"seg1":"","seg2":"","x":580,"y":400,"wires":[]},{"id":"67defbcd.90e524","type":"ui_gauge","z":"edcc44b2.3b3788","name":"light","group":"d11730a1.ce559","order":4,"width":0,"height":0,"gtype":"gage","title":"light","label":"lum","format":"{{value}}","min":"0","max":"1024","colors":["#d60505","#e6e600","#08dd21"],"seg1":"","seg2":"","x":630,"y":140,"wires":[]},{"id":"a7a30b17.549c5","type":"Stackhero-MySQL","z":"edcc44b2.3b3788","server":"e9fcfd4d.530de","name":"MySQL_Insert","x":560,"y":520,"wires":[[]]},{"id":"b9b97540.7a0c48","type":"function","z":"edcc44b2.3b3788","name":"gen_query","func":"\nmsg.topic = \"INSERT INTO `smart`.`sensors` (`wifirssi`, `temp`, `humid`, `tilt`) VALUES (:wifirssi, :temp, :humid, :tilt)\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["a7a30b17.549c5"]]},{"id":"ff1a926c.d44428","type":"mqtt-broker","z":"","name":"brocker histella","broker":"192.168.1.111","port":"1883","clientid":"node","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"d7168e93.91a0e","type":"ui_group","z":"","name":"wifi","tab":"facc88ec.fd88e8","order":1,"disp":true,"width":"8","collapse":false},{"id":"6b6c0eae.c508b8","type":"ui_group","z":"","name":"TempHumid","tab":"facc88ec.fd88e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"d11730a1.ce559","type":"ui_group","z":"","name":"light","tab":"facc88ec.fd88e8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e9fcfd4d.530de","type":"Stackhero-MySQL-Server","z":"","name":"MySQL backup data server","host":"192.168.1.105","port":"3306","tls":false,"database":"smart"},{"id":"facc88ec.fd88e8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":3,"disabled":false,"hidden":false}]